@import "../variables.scss";

.lmm-progress--indeterminate {
    position: absolute;
    width: 0;
    height: 100%;
    left: -100%;
    top: 0;
    border-radius: 2px;
    animation: indeterminate 1.2s ease infinite;
    border-radius: 20px
}

.lmm-progress--background {
    width: 100%;
    border-radius: 18px;
    background-color: cl(blacks, 0.06);
    z-index: 50;
    position: relative;
    display: inline-block;
    overflow: hidden
}

.lmm-progress--foreground {
    z-index: 100;
    height: 100%;
    border-radius: 18px;
    transition: all .5s ease
}

.lmm-progress-primary {
    background: cl(primary, 0.1)
}

.lmm-progress-primary .lmm-progress--foreground,
.lmm-progress-primary .lmm-progress--indeterminate {
    background: cl(primary, 1)
}

.lmm-progress-danger {
    background: cl(danger, 0.1)
}

.lmm-progress-danger .lmm-progress--foreground,
.lmm-progress-danger .lmm-progress--indeterminate {
    background: cl(danger, 1)
}

.lmm-progress-success {
    background: cl(success, 0.1)
}

.lmm-progress-success .lmm-progress--foreground,
.lmm-progress-success .lmm-progress--indeterminate {
    background: cl(success, 1)
}

.lmm-progress-warning {
    background: cl(warning, 0.1)
}

.lmm-progress-warning .lmm-progress--foreground,
.lmm-progress-warning .lmm-progress--indeterminate {
    background: cl(warning, 1)
}

.lmm-progress-dark {
    background: cl(dark, 0.1)
}

.lmm-progress-dark .lmm-progress--foreground,
.lmm-progress-dark .lmm-progress--indeterminate {
    background: cl(dark, 1)
}

.lmm-progress-light {
    background: cl(light, 0.1)
}

.lmm-progress-light .lmm-progress--foreground,
.lmm-progress-light .lmm-progress--indeterminate {
    background: cl(light, 1)
}

@keyframes indeterminate {
    0% {
        width: 30%;
        left: -40%
    }

    60% {
        left: 100%;
        width: 100%
    }

    to {
        left: 100%;
        width: 0
    }
}
