@import "../variables.scss";

.fade-tab-enter-active,
.fade-tab-leave-active {
    transition: all .3s;
}

.fade-tab-enter,
.fade-tab-leave-to {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(-100%, 0, 0);
}

.fade-tab-leave-to {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(100%, 0, 0);
}

.fade-tab-invert-enter-active,
.fade-tab-invert-leave-active {
    transition: all .3s;
}

.fade-tab-invert-enter,
.fade-tab-invert-leave-to {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(100%, 0, 0);
}

.fade-tab-invert-leave-to {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(-100%, 0, 0);
}

.fade-tab-vertical-enter-active,
.fade-tab-vertical-leave-active {
    transition: all .3s;
}

.fade-tab-vertical-enter {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(0, 100%, 0);
}

.fade-tab-vertical-leave-to {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(0, -100%, 0);
}

.fade-tab-vertical-invert-enter-active,
.fade-tab-vertical-invert-leave-active {
    transition: all .3s;
}

.fade-tab-vertical-invert-enter {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(0, -100%, 0);
}

.fade-tab-vertical-invert-leave-to {
    top: 0;
    opacity: 0;
    position: absolute !important;
    transform: translate3d(0, 100%, 0) !important;
}

.con-lmm-tabs {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.con-lmm-tabs .con-slot-tabs {
  position: relative;
  display: block;
  overflow: hidden;
}

.con-lmm-tabs .con-ul-tabs,
.lmm-tabs--ul {
  position: relative;
}

.lmm-tabs--ul {
  width: 100%;
  padding-left: 0;
  box-shadow: 0 0 25px 0 cl(blacks, 0.04);
}

.lmm-tabs--ul.ul-tabs-center {
  justify-content: center;
}

.lmm-tabs--ul.ul-tabs-right {
  justify-content: flex-end;
}

.lmm-tabs--ul.ul-tabs-fixed {
  justify-content: space-between;
  flex-wrap: nowrap !important;
}

.lmm-tabs--ul.ul-tabs-fixed li {
  width: 100%;
}

.line-lmm-tabs {
  width: 100px;
  height: 2px;
  display: block;
  position: absolute;
  transition: all .2s ease;
  transform: translateZ(0);
  will-change: left, right;
}

.lmm-tabs--li {
  display: block;
  position: relative;
}

.lmm-tabs--li button {
  color: inherit;
  font-family: inherit;
}

.lmm-tabs--li button.lmm-tabs--btn {
  box-sizing: border-box;
  display: block;
  position: relative;
  white-space: nowrap;
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 10px;
  border: 0;
  cursor: pointer;
  transition: all .2s ease;
  z-index: 100;
}

.lmm-tabs--li button.lmm-tabs--btn:hover:not(:disabled) {
  color: inherit;
}

.lmm-tabs--li button:disabled {
  opacity: .5;
  cursor: default !important;
  pointer-events: none;
}

.activeChild button:not(:disabled) {
  color: inherit;
}

.activeChild button.lmm-tabs--btn {
  padding-top: 8px;
  padding-bottom: 12px;
}

.lmm-tabs--btn-tag {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  border-radius: 3px;
  border: 0;
  background: cl(whites, 100);
  box-shadow: 0 0 10px 0 cl(blacks, 0.05);
  cursor: pointer;
  z-index: 200;
}

.lmm-tabs--btn-tag i {
  padding-right: 0 !important;
  font-size: .9rem;
}

.vuesax-app-is-rtl .lmm-tabs--btn-icon+span {
  padding-right: 9px;
}

.vuesax-app-is-ltr .lmm-tabs--btn-icon+span {
  padding-left: 9px;
}

.lmm-tabs-position-top .lmm-tabs--ul {
  display: flex;
  flex-wrap: wrap;
}

.lmm-tabs-position-bottom .lmm-tabs--ul {
  display: flex;
  border-top: 1px solid cl(blacks, 0.05);
  border-bottom: 0 !important;
}

.lmm-tabs-position-bottom .con-ul-tabs {
  order: 2;
}

.lmm-tabs-position-bottom .line-lmm-tabs {
  top: 0;
}

.lmm-tabs-position-left {
  display: flex;
}

.lmm-tabs-position-left .line-lmm-tabs {
  left: auto !important;
  right: 0;
}

.lmm-tabs-position-left .con-ul-tabs {
  float: left;
  height: 100%;
  display: block;
}

.lmm-tabs-position-left .lmm-tabs--ul {
  display: block;
  width: auto;
  border-bottom: 0 !important;
  border-right: 1px solid cl(blacks, 0.05);
}

.lmm-tabs-position-left .activeChild button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 12px !important;
  padding-right: 8px !important;
}

.lmm-tabs-position-right {
  display: flex;
}

.lmm-tabs-position-right .con-slot-tabs {
  width: 100%;
}

.lmm-tabs-position-right .con-ul-tabs {
  float: left;
  height: 100%;
  display: block;
  order: 2;
}

.lmm-tabs-position-right .lmm-tabs--ul {
  display: block;
  width: auto;
  border-bottom: 0 !important;
  border-left: 1px solid cl(blacks, 0.05);
}

.lmm-tabs-position-right .activeChild button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 8px !important;
  padding-right: 12px !important;
}

.lmm-tabs-primary .con-ul-tabs .activeChild button,
.lmm-tabs-primary .con-ul-tabs button:not(:disabled):hover {
  color: cl(primary, 100) !important;
}

.lmm-tabs-primary .con-ul-tabs .line-lmm-tabs {
  background: linear-gradient(30deg, cl(primary, 100), cl(primary, 0.50)) !important;
  box-shadow: 0 0 8px 0 cl(primary, 0.40) !important;
}

.lmm-tabs-danger .con-ul-tabs .activeChild button,
.lmm-tabs-danger .con-ul-tabs button:not(:disabled):hover {
  color: cl(danger, 100) !important;
}

.lmm-tabs-danger .con-ul-tabs .line-lmm-tabs {
  background: linear-gradient(30deg, cl(danger, 100), cl(danger, 0.50)) !important;
  box-shadow: 0 0 8px 0 cl(danger, 0.40) !important;
}

.lmm-tabs-success .con-ul-tabs .activeChild button,
.lmm-tabs-success .con-ul-tabs button:not(:disabled):hover {
  color: cl(success, 100) !important;
}

.lmm-tabs-success .con-ul-tabs .line-lmm-tabs {
  background: linear-gradient(30deg, cl(success, 100), cl(success, 0.50)) !important;
  box-shadow: 0 0 8px 0 cl(success, 0.40) !important;
}

.lmm-tabs-warning .con-ul-tabs .activeChild button,
.lmm-tabs-warning .con-ul-tabs button:not(:disabled):hover {
  color: cl(warning, 100) !important;
}

.lmm-tabs-warning .con-ul-tabs .line-lmm-tabs {
  background: linear-gradient(30deg, cl(warning, 100), cl(warning, 0.50)) !important;
  box-shadow: 0 0 8px 0 cl(warning, 0.40) !important;
}

.lmm-tabs-dark .con-ul-tabs .activeChild button,
.lmm-tabs-dark .con-ul-tabs button:not(:disabled):hover {
  color: cl(dark, 100) !important;
}

.lmm-tabs-dark .con-ul-tabs .line-lmm-tabs {
  background: linear-gradient(30deg, cl(dark, 100), cl(dark, 0.50)) !important;
  box-shadow: 0 0 8px 0 cl(dark, 0.40) !important;
}

.lmm-tabs-light .con-ul-tabs .activeChild button,
.lmm-tabs-light .con-ul-tabs button:not(:disabled):hover {
  color: cl(light, 100) !important;
}

.lmm-tabs-light .con-ul-tabs .line-lmm-tabs {
  background: linear-gradient(30deg, cl(light, 100), cl(light, 0.50)) !important;
  box-shadow: 0 0 8px 0 cl(light, 0.40) !important;
}

.lmm-tabs--content {
  position: relative;
  width: 100%;
  display: block;
  padding: 10px;
}