@import "../variables.scss";

.lmm-content-textarea {
  width: 100%;
  position: relative;
  border: 1px solid cl(blacks, 0.08);
  box-shadow: 0 0 0 0 transparent;
  border-radius: 6px;
  transition: boxShadow .25s ease, border .25s ease, -webkit-transform .25s ease;
  transition: boxShadow .25s ease, border .25s ease, transform .25s ease;
  transition: boxShadow .25s ease, border .25s ease, transform .25s ease, -webkit-transform .25s ease;
  transform: translate(0);
  margin-bottom: 16px;
  font-family: $Regular;


  &.focusx h4 {
    background: cl(light, 100);
    padding-top: 4px;
    padding-bottom: 4px
  }

  h4 {
    font-size: .7rem;
    padding: 8px;
    padding-bottom: 0;
    cursor: default;
    transition: all .25s ease;
    border-radius: 5px 5px 0 0;
  }

  .lmm-textarea {
    resize: none;
    border-radius: 6px;
    border: 0 solid transparent;
    display: block;
    padding: 9px;
    color: cl(blacks, 100);
    font-size: .8rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background: transparent;

    &:focus {
      resize: auto !important;

      &~.count {
        opacity: 1;
      }
    }

    &--count {
      position: absolute;
      right: 14px;
      bottom: 0;
      transform: translateY(100%);
      padding: 1px 6px;
      font-size: .6rem;
      border-radius: 0 0 5px 5px;
      font-weight: 700;
      box-shadow: 0 4px 20px 0 cl(blacks, 0.05);
      cursor: default;
      background: cl(primary, 100);
      color: cl(whites, 100);
      opacity: .3;
      transition: all .25s ease;
    }

    &.textarea-danger {
      border: 1px solid cl(danger, 0.40);
      box-shadow: 0 4px 20px 0 cl(danger, 0.10);
    }
  }
}


.textarea-danger .lmm-textarea {
  color: cl(danger, 0.80);
}

.textarea-danger .count {
  background: cl(danger, 100);
}

.focusx.lmm-textarea-primary {
  border: 1px solid cl(primary, 100) !important;
}

.focusx.lmm-textarea-danger {
  border: 1px solid cl(danger, 100) !important;
}

.focusx.lmm-textarea-success {
  border: 1px solid cl(success, 100) !important;
}

.focusx.lmm-textarea-warning {
  border: 1px solid cl(warning, 100) !important;
}

.focusx.lmm-textarea-dark {
  border: 1px solid cl(dark, 100) !important;
}

.focusx.lmm-textarea-light {
  border: 1px solid cl(light, 100) !important;
}