@import "../variables.scss";

.features {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &--item {
        position: relative;
        display: flex;
        vertical-align: top;
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        font-size: $fs14;
        line-height: $lh21;
        background-repeat: no-repeat;
        background-position: center;
        background-color: cl(whites);
        text-decoration: none;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease;

        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: all 0.6s;
            transform-style: preserve-3d;
            border: 1px solid cl(primary, 0.25);
            border-radius: 15px;

            &.flip {
                .features--front {
                    transform: rotateY(180deg);
                }

                .features--back {
                    transform: rotateY(0deg);
                }
            }

            .features--back {
                transform: rotateY(-180deg);
            }

            &:hover {
                border-color: cl(primary);
            }
        }

        &::after {
            content: '';
            position: absolute;
            height: 52px;
            width: 52px;
            bottom: 40px;
            display: block;
            margin: 0 auto;
            right: 0;
            left: 0;
            transition: background 600ms;
            background-color: cl(primary);
            border: 1px solid cl(primary);
            border-radius: 50%;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYgNy41Mzg0NkMxOC42NTc5IDcuNTM4NDYgMjEuMDMyOSA4LjczNjE1IDIyLjYwMjggMTAuNjE1NEgyNC41MjUyQzIyLjcyNzcgNy44Mzk3NiAxOS41ODEyIDYgMTYgNkMxMC41MTk2IDYgNi4wNTcxOCAxMC4zMDg1IDUuODg5NDggMTUuNjg2MUw0LjEwMDQxIDEzLjkxNzVMMyAxNS4wMDU0TDYuNjYyNjQgMTguNjI2MkwxMC4zMjUzIDE1LjAwNTRMOS4yMjQ4NyAxMy45MTc1TDcuNDQ3IDE1LjY3NTFDNy42MTk3MyAxMS4xNTI1IDExLjM4MjkgNy41Mzg0NiAxNiA3LjUzODQ2WiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNOS4zOTc0NiAyMS4zODQ2SDcuNDc1QzkuMjcyNTQgMjQuMTYwMiAxMi40MTkxIDI2IDE2LjAwMDIgMjZDMjEuNDgwNSAyNiAyNS45NDI5IDIxLjY5MTYgMjYuMTEwOCAxNi4zMTQxTDI3Ljg5OTYgMTguMDgyNUwyOSAxNi45OTQ2TDI1LjMzNzQgMTMuMzczOEwyMS42NzQ3IDE2Ljk5NDZMMjIuNzc1MSAxOC4wODI1TDI0LjU1MzIgMTYuMzI0N0MyNC4zODA3IDIwLjg0NzQgMjAuNjE3NCAyNC40NjE1IDE2LjAwMDIgMjQuNDYxNUMxMy4zNDIzIDI0LjQ2MTUgMTAuOTY3NCAyMy4yNjM5IDkuMzk3NDYgMjEuMzg0NloiIGZpbGw9IndoaXRlIi8+PC9zdmc+);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-size: 32px 32px;
        }

        &:hover {
            &::after {
                background-color: cl(primary, 0.85);
                border: 1px solid cl(primary, 0.85);
            }
        }
    }

    &--front,
    &--back {
        position: absolute;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: transform 0.6s;
        backface-visibility: hidden;
        padding: 20px 20px 117px;

        @media only screen and (max-width: 719px) {
            padding: 20px 20px 102px;
        }
    }

    &--front {}

    &--back {
        transform: rotateY(180deg);
    }
}


.features--item__inner-danger {
    border-color: cl(danger, 0.25);

    &:hover {
        border-color: cl(danger);
    }
}

.features--item-danger {
    &::after {
        background-color: cl(danger);
        border-color: cl(danger);
    }

    &:hover {
        &::after {
            background-color: cl(danger, 0.85);
            border-color: cl(danger, 0.85);
        }
    }
}

.features--item__inner-success {
    border-color: cl(success, 0.25);

    &:hover {
        border-color: cl(success);
    }
}

.features--item-success {
    &::after {
        background-color: cl(success);
        border-color: cl(success);
    }

    &:hover {
        &::after {
            background-color: cl(success, 0.85);
            border-color: cl(success, 0.85);
        }
    }
}

.features--item__inner-warning {
    border-color: cl(warning, 0.25);

    &:hover {
        border-color: cl(warning);
    }
}

.features--item-warning {
    &::after {
        background-color: cl(warning);
        border-color: cl(warning);
    }

    &:hover {
        &::after {
            background-color: cl(warning, 0.85);
            border-color: cl(warning, 0.85);
        }
    }
}

.features--item__inner-dark {
    border-color: cl(dark, 0.25);

    &:hover {
        border-color: cl(dark);
    }
}

.features--item-dark {
    &::after {
        background-color: cl(dark);
        border-color: cl(dark);
    }

    &:hover {
        &::after {
            background-color: cl(dark, 0.85);
            border-color: cl(dark, 0.85);
        }
    }
}

.features--item__inner-light {
    border-color: cl(light, 0.25);

    &:hover {
        border-color: cl(light);
    }
}

.features--item-light {
    &::after {
        background-color: cl(light);
        border-color: cl(light);
    }

    &:hover {
        &::after {
            background-color: cl(light, 0.85);
            border-color: cl(light, 0.85);
        }
    }
}
