@import "../variables.scss";

.con-lmm-alert {
    border-radius: 6px;
    color: cl(whites);
    width: 100%;
    position: relative;
    font-size: .8rem;
    cursor: default;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    overflow: hidden
}

.icon-alert {
    height: 100%;
    position: absolute;
    padding: 10px;
    top: 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center
}

.lmm-app-is-rtl .icon-alert {
    right: 0
}

.lmm-app-is-ltr .icon-alert {
    left: 0
}

.lmm-alert {
    padding: 10px;
    overflow: hidden;
    position: relative
}

.lmm-app-is-rtl .lmm-alert.con-icon {
    padding-right: 40px
}

.lmm-app-is-ltr .lmm-alert.con-icon {
    padding-left: 40px
}

.lmm-alert--title {
    font-size: .9rem;
    font-weight: 700;
    padding: 8px 10px
}

.lmm-alert--close {
    position: relative;
    margin-top: 4px;
    display: inline-block;
    padding: 4px;
    border-radius: 6px;
    padding-bottom: 1px;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.lmm-app-is-rtl .lmm-alert--close {
    margin-left: 4px
}

.lmm-app-is-ltr .lmm-alert--close {
    margin-right: 4px
}

.lmm-app-is-rtl .lmm-alert--close {
    float: left
}

.lmm-app-is-ltr .lmm-alert--close {
    float: right
}

.lmm-alert--close:hover {
    box-shadow: 0 5px 15px 0 cl(blacks, .1)
}

.con-lmm-alert-primary {
    background: cl(primary, .15);
    box-shadow: 0 0 25px 0 cl(primary, .15);
    color: cl(primary, 1)
}

.con-lmm-alert-primary h4 {
    box-shadow: 0 6px 15px -7px cl(primary, .4)
}

.con-lmm-alert-primary .con-x {
    background: cl(primary, 1);
    color: cl(whites)
}

.con-lmm-alert-danger {
    background: cl(danger, .15);
    box-shadow: 0 0 25px 0 cl(danger, .15);
    color: cl(danger, 1)
}

.con-lmm-alert-danger h4 {
    box-shadow: 0 6px 15px -7px cl(danger, .4)
}

.con-lmm-alert-danger .con-x {
    background: cl(danger, 1);
    color: cl(whites)
}

.con-lmm-alert-success {
    background: cl(success, .15);
    box-shadow: 0 0 25px 0 cl(success, .15);
    color: cl(success, 1)
}

.con-lmm-alert-success h4 {
    box-shadow: 0 6px 15px -7px cl(success, .4)
}

.con-lmm-alert-success .con-x {
    background: cl(success, 1);
    color: cl(whites)
}

.con-lmm-alert-warning {
    background: cl(warning, .15);
    box-shadow: 0 0 25px 0 cl(warning, .15);
    color: cl(warning, 1)
}

.con-lmm-alert-warning h4 {
    box-shadow: 0 6px 15px -7px cl(warning, .4)
}

.con-lmm-alert-warning .con-x {
    background: cl(warning, 1);
    color: cl(whites)
}

.con-lmm-alert-dark {
    background: cl(dark, .15);
    box-shadow: 0 0 25px 0 cl(dark, .15);
    color: cl(dark, 1)
}

.con-lmm-alert-dark h4 {
    box-shadow: 0 6px 15px -7px cl(dark, .4)
}

.con-lmm-alert-dark .con-x {
    background: cl(dark, 1);
    color: cl(whites)
}

.con-lmm-alert-light {
    background: cl(light, .15);
    box-shadow: 0 0 25px 0 cl(light, .15);
    color: cl(light, 1)
}

.con-lmm-alert-light h4 {
    box-shadow: 0 6px 15px -7px cl(light, .4)
}

.con-lmm-alert-light .con-x {
    background: cl(light, 1);
    color: cl(whites)
}