@import "../variables.scss";

.con-lmm-chip {
    background: $light-gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: .7rem;
    justify-content: center;
    margin-bottom: 3px;
    min-height: 28px;
    color: rgba($black, .7);
    position: relative;
    font-family: $Regular;

    & .lmm-chip--close {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 0;
        margin: 0 4px;
        cursor: pointer;
        background: rgba($black, .15);
        color: $white;
        transition: all .3s ease;

        &:hover {
            background: rgba($danger, .75);
        }

        & i {
            font-size: .9rem;
        }
    }

    & .lmm-chip--text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.bg-chip-transparent {
        font-weight: 500;
    }

    &.con-lmm-avatar {
        width: 24px;
        height: 24px;
        position: relative;
        display: block;
        margin: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($black, .15);

        &.material-icons {
            margin-top: 0;
            font-size: .8rem
        }
    }
}

.app-is-rtl {
    & .con-lmm-chip {
        float: right;
        margin-left: 2px;
        padding-left: 10px;

        &.closable {
            padding-left: 0;
        }

        & .con-lmm-avatar {
            transform: translate(8px);
        }
    }

    & .lmm-chip--text {
        margin-right: 10px;
    }
}

.app-is-ltr {
    & .con-lmm-chip {
        float: left;
        margin-right: 2px;
        padding-right: 10px;

        &.closable {
            padding-right: 0;
        }

        & .con-lmm-avatar {
            transform: translate(-8px);
        }
    }

    & .lmm-chip--text {
        margin-left: 10px;
    }
}


.lmm-chip-primary:not(.bg-chip-transparent) {
    background: rgba($primary, 1);
}

.lmm-chip-primary.bg-chip-transparent {
    background: rgba($primary, .15);
    color: rgba($primary, 1);
}

.lmm-chip-danger:not(.bg-chip-transparent) {
    background: rgba($danger, 1);
}

.lmm-chip-danger.bg-chip-transparent {
    background: rgba($danger, .15);
    color: rgba($danger, 1);
}

.lmm-chip-success:not(.bg-chip-transparent) {
    background: rgba($success, 1);
}

.lmm-chip-success.bg-chip-transparent {
    background: rgba($success, .15);
    color: rgba($success, 1);
}

.lmm-chip-warning:not(.bg-chip-transparent) {
    background: rgba($warning, 1);
}

.lmm-chip-warning.bg-chip-transparent {
    background: rgba($warning, .15);
    color: rgba($warning, 1);
}

.lmm-chip-dark:not(.bg-chip-transparent) {
    background: rgba($dark, 1);
}

.lmm-chip-dark.bg-chip-transparent {
    background: rgba($dark, .15);
    color: rgba($dark, 1);
}

.lmm-chip-light:not(.bg-chip-transparent) {
    background: rgba($light, 1);
}

.lmm-chip-light.bg-chip-transparent {
    background: rgba($light, .15);
    color: rgba($light, 1);
}
