@import "../variables.scss";

.con-lmm-chip {
    background: cl(light, 100);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: .7rem;
    justify-content: center;
    margin-bottom: 3px;
    min-height: 28px;
    color: cl(blacks, 0.70);
    position: relative;
    font-family: $Regular;

    & .lmm-chip--close {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 0;
        margin: 0 4px;
        cursor: pointer;
        background: cl(blacks, 0.15);
        color: cl(whites, 100);
        transition: all .3s ease;

        &:hover {
            background: cl(danger, 0.75);
        }

        & i {
            font-size: .9rem;
        }
    }

    & .lmm-chip--text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.bg-chip-transparent {
        font-weight: 500;
    }

    &.con-lmm-avatar {
        width: 24px;
        height: 24px;
        position: relative;
        display: block;
        margin: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: cl(blacks, 0.15);

        &.material-icons {
            margin-top: 0;
            font-size: .8rem
        }
    }
}

.app-is-rtl {
    & .con-lmm-chip {
        float: right;
        margin-left: 2px;
        padding-left: 10px;

        &.closable {
            padding-left: 0;
        }

        & .con-lmm-avatar {
            transform: translate(8px);
        }
    }

    & .lmm-chip--text {
        margin-right: 10px;
    }
}

.app-is-ltr {
    & .con-lmm-chip {
        float: left;
        margin-right: 2px;
        padding-right: 10px;

        &.closable {
            padding-right: 0;
        }

        & .con-lmm-avatar {
            transform: translate(-8px);
        }
    }

    & .lmm-chip--text {
        margin-left: 10px;
    }
}


.lmm-chip-primary:not(.bg-chip-transparent) {
    background: cl(primary, 100);
}

.lmm-chip-primary.bg-chip-transparent {
    background: cl(primary, 0.15);
    color: cl(primary, 100);
}

.lmm-chip-danger:not(.bg-chip-transparent) {
    background: cl(danger, 100);
}

.lmm-chip-danger.bg-chip-transparent {
    background: cl(danger, 0.15);
    color: cl(danger, 100);
}

.lmm-chip-success:not(.bg-chip-transparent) {
    background: cl(success, 100);
}

.lmm-chip-success.bg-chip-transparent {
    background: cl(success, 0.15);
    color: cl(success, 100);
}

.lmm-chip-warning:not(.bg-chip-transparent) {
    background: cl(warning, 100);
}

.lmm-chip-warning.bg-chip-transparent {
    background: cl(warning, 0.15);
    color: cl(warning, 100);
}

.lmm-chip-dark:not(.bg-chip-transparent) {
    background: cl(dark, 100);
}

.lmm-chip-dark.bg-chip-transparent {
    background: cl(dark, 0.15);
    color: cl(dark, 100);
}

.lmm-chip-light:not(.bg-chip-transparent) {
    background: cl(light, 100);
}

.lmm-chip-light.bg-chip-transparent {
    background: cl(light, 0.15);
    color: cl(light, 100);
}
