@import "../variables.scss";

.lmm-switch {
    border-radius: 12px;
    border: 0;
    min-width: 42px;
    height: 22px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center
}

.lmm-switch:disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none
}

.lmm-switch:active:not(.lmm-switch--circle) .lmm-switch--circle {
    width: 24px;
    border-radius: 15px
}

.lmm-switch.lmm-switch-active:active .lmm-switch--circle {
    width: 24px;
    margin-left: calc(100% - 29px)
}

.lmm-switch.lmm-switch-active .lmm-switch--circle {
    margin-left: calc(100% - 22px)
}

.lmm-switch--circle {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    background: cl(whites, 1);
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all .25s ease;
    box-shadow: 0 0 4px 0 cl(blacks, 0.1)
}

.lmm-switch--text {
    position: absolute;
    display: block;
    font-size: .625em;
    opacity: 0;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden
}

.lmm-switch--text.text-on {
    padding-left: 6px;
    left: 0;
    color: cl(whites, 1);
    transform: translate(10px)
}

.lmm-switch--text.text-off {
    right: 0;
    padding-right: 5px;
    color: #a0a0a0;
    transform: translate(-10px)
}

.lmm-switch--text.active-text {
    opacity: 1;
    transform: translate(0)
}

.lmm-switch--icon {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 16px;
    padding: 0 2px
}

.lmm-switch--input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: 0;
    cursor: pointer
}

.lmm-switch-primary {
    background: cl(light, 1)
}

.lmm-switch-primary.lmm-switch-active {
    background: cl(primary, 1)
}

.lmm-switch-danger {
    background: cl(light, 1)
}

.lmm-switch-danger.lmm-switch-active {
    background: cl(danger, 1)
}

.lmm-switch-success {
    background: cl(light, 1)
}

.lmm-switch-success.lmm-switch-active {
    background: cl(success, 1)
}

.lmm-switch-warning {
    background: cl(light, 1)
}

.lmm-switch-warning.lmm-switch-active {
    background: cl(warning, 1)
}

.lmm-switch-dark {
    background: cl(light, 1)
}

.lmm-switch-dark.lmm-switch-active {
    background: cl(dark, 1)
}

.lmm-switch-light {
    background: cl(light, 1)
}

.lmm-switch-light.lmm-switch-active {
    background: cl(light, 1)
}
