@import "../variables.scss";

.con-lmm-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 5px !important;
    font-family: $Regular;

    &.large {
        width: 50px;
        height: 50px;
    }

    &.small {
        width: 24px;
        height: 24px;

        & .lmm-avatar-text {
            font-size: .9375em;
        }
    }

    & .lmm-avatar{
        &--count {
            position: absolute;
            top: 1px;
            right: 1px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            z-index: 100;
    
            &.badgeNumber {
                width: auto;
                height: auto;
                top: -3px;
                right: 0;
                border-radius: 4px;
                padding-left: 3px;
                padding-right: 3px;
                font-size: .625em;
                color: cl(whites, 100);
            }
        }

        &--text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &--con-img {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            
            & img {
                width: 100%
            }
        }
    }
}

.con-lmm-avatar-primary {
    background: cl(primary, 100)
}

.lmm-avatar-text-primary {
    color: cl(primary, 100)
}

.con-lmm-avatar-danger {
    background: cl(danger, 100)
}

.lmm-avatar-text-danger {
    color: cl(danger, 100)
}

.con-lmm-avatar-success {
    background: cl(success, 100)
}

.lmm-avatar-text-success {
    color: cl(success, 100)
}

.con-lmm-avatar-warning {
    background: cl(warning, 100)
}

.lmm-avatar-text-warning {
    color: cl(warning, 100)
}

.con-lmm-avatar-dark {
    background: cl(dark, 100)
}

.lmm-avatar-text-dark {
    color: cl(dark, 100)
}

.con-lmm-avatar-light {
    background: cl(light, 100)
}

.lmm-avatar-text-light {
    color: cl(light, 100)
}

.con-lmm-icon-bg-primary,
.dot-count-primary {
    background: cl(primary, 100)
}

.lmm-icon-primary {
    color: cl(primary, 100)
}

.con-lmm-icon-bg-danger,
.dot-count-danger {
    background: cl(danger, 100)
}

.lmm-icon-danger {
    color: cl(danger, 100)
}

.con-lmm-icon-bg-success,
.dot-count-success {
    background: cl(success, 100)
}

.lmm-icon-success {
    color: cl(success, 100)
}

.con-lmm-icon-bg-warning,
.dot-count-warning {
    background: cl(warning, 100)
}

.lmm-icon-warning {
    color: cl(warning, 100)
}

.con-lmm-icon-bg-dark,
.dot-count-dark {
    background: cl(dark, 100)
}

.lmm-icon-dark {
    color: cl(dark, 100)
}

.con-lmm-icon-bg-light,
.dot-count-light {
    background: cl(light, 100)
}